
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "poppins";
    scroll-behavior: smooth;
    text-decoration: none;  
    
}

:root{
    --bg_color:#081b29;
    --second_bg_color:#112e42;
    --text_color:#ededed;
    --main_color:#00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg_color);
    color: var(--text_color);
}


.home-img{
    width: 80%;
    margin-top: 6rem;
    /* background: no-repeat; */
    background-size: cover;
    background-position: center;

}

#home-img{
    /* position: absolute; */
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: transparent;
    transition: 1s;
    margin-top: 5rem;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%; 
    padding-top: 6rem;
    padding-bottom: 6rem;


}



@media (max-width: 768px) {
    html{
        font-size: 50%;
    }

    .home{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    /* .home-icons{
        width: 38px;
        height: 38px;
    } */
}

@media (max-width : 462px) {
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem 5%;
    }
}



.home-content{
    max-width: 60rem;
    margin-top: 10rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    color: var(--text_color);
}

.home-content .text-animate{
    /* position: relative; */
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main_color);
     

}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    gap: 2.5rem;
    margin-left: -14rem;

}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main_color);
    border: .2rem solid var(--main_color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg_color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main_color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main_color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg_color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main_color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg_color);
    z-index: -1;
    transition: .5s;

}

.btn-box .btn:hover::before{
    width: 100%;
}

.home-icons{
    /* position: absolute; */
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.home-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main_color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main_color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-icons a:hover{
    color: var(--bg_color);
}

.home-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main_color);
    z-index: -1;
    transition: .5s;
}

.home-icons a:hover::before{
   width: 100%;
}

@media (max-width: 320px) {
   

    .home-content h1{
        font-size: 5rem;
    }

    .home-content {
        text-align: center;
        align-items: center;
    }
    

}


@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
       padding: 2rem 4%;
    }

    section{
        padding: 10rem 45 2rem;
        margin-bottom: 3%;
    }

    .home{
        padding: 0 4%;
        display: flex;
        flex-direction: column;
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
     
    .home-img {
        margin-top: -5rem;
    }

    
 .footer{
        padding: 2rem 4%;
    } 
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}











